@charset "EUC-KR";

.main-container {
   display: flex;
   flex-direction: column;
}
.page-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 60px;
   margin-top: 15px;
   margin-left: 15px;
   float: left;
}
.page-footer {
   display: flex;
   flex-direction: row;      
   margin-top: 200px;
}
.page-footer img {
   width: 100%;
   height: 200px;
}
.page-body {
	display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.product-list{
   width: 100%;
   padding: 10px;
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.product-info{
   margin-right: 20px;
}
.productImage{
   height: 400px; 
   width: 320px;
   background-color: #f5f9fa;
   border-radius: 15px;
   }
a:link {
   color: black;
}
a:visit {
   color: black;
}
a:hover {
   color: gray;
}
a:active {
   color: gray;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.target {
	border: none;
	border-bottom: 1px solid black;
	height: 20px;
	width: 200px;
}